<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<html>
    <body>
        <div class = "images" *ngIf="!display">
            <img class="back" [src]="back_src" >
            <img class="paint" [src]="paint_src">
        </div>
        <div class = "images" *ngIf="display">
            <img class="result" [src]="result_src" >
        </div>
        <div class = "download" *ngIf="display">
            <a [href]="result_src" class="big-button" download>dowload</a>
        </div>
        <p>{{ txt1 }}</p>
        <p class="wait" *ngIf="!display">Please wait</p>
        <a class = "link" routerLink="mode-choice" *ngIf="display">Return to mode choice</a>
    </body>
</html>