<html>
    <head></head>
    <body>
        <div>
            <h1>Creation mode</h1>
            <div class="line"></div>
            <div style="margin-left: auto;margin-right: auto;" class="div-choix">
                <div>
                    <h2>Automatic</h2>
                    <button class="bouton" routerLink="GenerateImages"></button>
                </div>
                <div>
                    <h2>Customize</h2>
                    <button class="bouton" routerLink="files-choices"></button>
                </div>
            </div>
        </div>
    </body>
</html>