body {
    display: flex;
    background : url(../../assets/background.png);
    width : 100vw;
    height : 100vh;
}
div.formulaire
{
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div.form-group
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
p.first-p
{
  margin-left:auto;
  margin-right: auto;
}

p.second-p
{
  margin-left:auto;
  margin-right: auto;
}


.progress {
    margin-top: 2%;
    background: rgb(255, 255, 255);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
  }
  
  .progress-bar {
    
    box-shadow: 0 10px 40px -10px rgb(0, 0, 0);
    border-radius: 100px;
    background: rgb(49, 190, 233);
    height: 30px;
    
  }
  a.start
  {
    margin-top: 2%;
  }