html {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
  ),
  url(../../assets/background.png);
  background-position: center;
  background-attachment: scroll;
  background-repeat:repeat-y;
  -webkit-background-size: cover;
  background-size: cover;
  height : 100vh;
  color: #00EAF8;
  text-align: center;
  font-size: 150%;
  text-shadow:
  0 0 20px #fff,
  0 0 40px #0ff,
  0 0 80px #0ff,
  0 0 100px #0ff,
  0 0 150px #0ff;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: auto;
}

div {
  margin: auto;
}
.wait {
  /* margin-top: -20px; */
  font-size: 75%;
}


.progress {
    background: rgb(255, 255, 255);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }
  
  .progress-bar {
    box-shadow: 0 10px 40px -10px rgb(0, 0, 0);
    border-radius: 100px;
    background: rgb(74, 12, 219);
    height: 30px;
    
  }