body {
    display: flex;
    background : url(../../assets/background.png);
    width : 100vw;
    height : 100vh;
}


.progress {
    background: rgb(0, 0, 0);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
  }
  
  .progress-bar {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    
  }