<div class="back">
    <svg height="100%" width="100%" add>
        <defs>
            <filter id="filter0_dddi" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dy="-6"/>
            <feGaussianBlur stdDeviation="10"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.155662 0 0 0 0 0.938373 0 0 0 0 0.988333 0 0 0 0.6 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dx="10" dy="-2"/>
            <feGaussianBlur stdDeviation="18"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.424167 0 0 0 0 0.96545 0 0 0 0 1 0 0 0 0.35 0"/>
            <feBlend mode="normal" in2="effect1_dropShadow" result="effect2_dropShadow"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            <feOffset dx="6" dy="-10"/>
            <feGaussianBlur stdDeviation="49.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.2575 0 0 0 0 0.95545 0 0 0 0 1 0 0 0 0.45 0"/>
            <feBlend mode="normal" in2="effect2_dropShadow" result="effect3_dropShadow"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect3_dropShadow" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="2" dy="-2"/>
            <feGaussianBlur stdDeviation="3.5"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.145 0 0 0 0 0.9487 0 0 0 0 1 0 0 0 0.73 0"/>
            <feBlend mode="normal" in2="shape" result="effect4_innerShadow"/>
            </filter>
            </defs>
        <circle class="node light-blue" cx="700" cy="200" r="50">
            <!--<animate attributeName="cx" dur="2s" repeatCount="indefinite" from="100" to="0"/>-->
        </circle>
        
            
    </svg>
</div>
<body>
    <div class="center">
        <div>Welcome works !</div>
        <a routerLink="choice">go</a>
    </div>
</body>

