@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:host {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: #222222;
    z-index: -2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size : 6vh;
    text-align: center;
    color :white;
}

.center {
    z-index: 1;
    animation: 1s slideIn ease-in-out forwards;
    width : 95vw;
    
  
    
}

.back {
    position: fixed;
    z-index: 0;
    height : 100vh;
    width : 100vw;
    animation: 2s slideIn ease-in-out forwards

}

@keyframes slideIn {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.node.light-blue {
    fill : #C0FFFB;
    filter : url('#light-blue') ;
}

.node.light-blue-blur {
  fill : #C0FFFB;
  filter : url('#light-blue-blur') ;
}

.node.red {
  fill : #FC1D38;
  filter : url(#red) ;
}
.node.red-blur {
  fill : #FC1D38;
  filter : url(#red-blur);
}

.node.orange {
    fill : #FCA31D;
    filter : url(#orange) ;
}

.node.orange-blur {
    fill : #FCA31D;
    filter : url(#orange-blur) ;
}

.node.blue {
    fill : #502BE1;
    filter : url(#blue) ;
}

.node.blue-blur {
    fill : #502BE1;
    filter : url(#blue-blur);
}

svg {
  animation : scaleBubble 15s  linear infinite alternate;
}

.catchPr {
    height : 60%;
    width : 100%;
    position : relative;
  
    
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size : 5vw;
    
  }
}

@media only screen and (min-width: 600px) {
    h1 {
      font-size : 130%;
  }
}

h1 {
    font-weight : lighter;
    text-shadow: 0.5px 0.5px 7px #222222;
}


.block {
    width: 0%;
    height: 10%;
    background: white;
    top : 110%;
    position: absolute;
    animation: mainBlock 3s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}

.choice {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  
}

@media only screen and (max-width: 600px) {
  .choice {
    font-size : 10vw;
    margin-top : 15px;
  
  }
}
@media only screen and (min-width: 600px) {
  .choice {
    font-size : 3vw;
    
  }
}





  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0%;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }



@keyframes scaleBubble {
    0% {
      transform: scale(1.00);
    }


    100% {
      transform: scale(1.20);
    }

  }

  
    