<html>
    <head>
    </head>
    <body>
        <div *ngIf="!display">
            <img class="gif" src="../../assets/giphy.gif">
        </div>
        <div *ngIf="display">
            <img class="result" [src]="result_src">
            <a class="big-button" [href]="result_src" download>dowload</a>
        </div>
        <p *ngIf="!display">The image is being created  ...</p>
        <p *ngIf="!display" class="wait">Please wait</p>
        <p *ngIf="display">Image is now created !</p>
        <a class = "link" routerLink="mode-choice" *ngIf="display">Return to mode choice</a>
    </body>
</html>